<div class="info">
			<h3>
				<span style="text-align:inherit;"><%= @user.name %></span>
			</h3>
			<strong>URL:</strong> <%= link_to "#{@user.name}'s page", user_path(@user.id) %><br />
			<strong>Microposts:</strong><%= @user.microposts.length %>
</div>
