<%if !current_user %>
	<h1>Ruby on Rails testapp</h1>
	<p>Sign in or make an account!</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<%else%>
	<p>Content goes here</p>

<%end%>
